@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  --primary-color: rgb(25, 197, 192);
  --secondary-color: rgb(0, 196, 39);
  --bg-color: rgb(205, 249, 255);
  --heading-color: rgb(39, 39, 39);
  --paragraph-color: rgb(69, 69, 69);
  --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

img {
  max-width: 100%;
  border-radius: 2rem;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

/* Declaring Font Size */

h2 {
  font-size: 2.4rem;
  line-height: 2rem;
  color: var(--heading-color);
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
}

/* Header  */

.logo h2 {
  color: var(--secondary-color);
}

header {
  text-align: center;
  padding: 3rem 0;
}

footer {
  text-align: center;
  padding: 5rem 0;
}

/* Card Styles */

.card-container {
  max-width: 600px;
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 2rem;
  margin: auto;
  box-shadow: var(--shadow);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 600px) {
  html {
    font-size: 0.75rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .card-container {
    max-width: 800px;
  }

  .card {
    flex-direction: row;
  }

  .card-img img {
    height: 100%;
    object-fit: cover;
  }
}
